@import "../../App.less";

.intro {
  height: 1342px;

  & .info:extend(.font-large) {
    position: relative;

    & p:first-of-type {
      font-weight: 500;
      max-width: 430px;
      color: @color-black;
      position: absolute;
      top: 80px;
      left: @space-left;
    }

    & .intro-image {
      position: absolute;
      top: 80px;
      right: 159px;
    }

    & .title {
      line-height: normal;
      max-width: 299px;
      color: @color-black-4;
    }

    & .body:extend(.font-medium) {
      max-width: 310px;
      color: @color-gray;
    }

    & .threads-text {
      &.title {
        position: absolute;
        top: 358px;
        left: @space-left;
      }

      &.body {
        position: absolute;
        top: 450px;
        left: @space-left;
      }
    }

    & .intro-image-2 {
      position: absolute;
      top: 677px;
      left: @space-left;
    }

    & .topic-text {
      &.title {
        position: absolute;
        top: 818px;
        right: calc(@space-left + 10px);
        color: @color-black;
      }

      &.body {
        position: absolute;
        top: 910px;
        right: @space-left;
      }
    }

    & .learn-more:extend(.font-helvetica) {
      width: 110px;
      position: absolute;
      top: 559px;
      left: @space-left;

      & img {
        margin-left: 5px;
      }

      &.second {
        position: absolute;
        top: 1009px;
        left: auto;
        right: 360px;
      }
    }
  }
}
