@import "../App.less";

.header {
  background-color: @color-purple;

  & .nav-link {
    color: @color-white-3;
    margin-right: 3em;
  }

  & .demo {
    width: 120px;
    height: 34px;
    margin-right: 10px;
  }

  & .login:extend(.font-extra-small) {
    width: 80px;
    height: 34px;
    border-radius: 2px;
    border: solid 1px @color-white-4; 
    background-color: @color-purple;
    margin-right: 25px;
  }
}
