@import "../../App.less";

.top {
  background-color: @color-purple;
  height: 640px;
  position: relative;

  & .text:extend(.font-extra-large) {
    width: 370px;
    color: @color-white;
    position: absolute;
    top: 145px;
    left: @space-left;
  }

  & img {
    position: absolute;
    top: 95px;
    right: 5px;
  }

  & .email {
    width: 402px;
    height: 42px;
    position: absolute;
    top: 368px;
    left: @space-left;

    & .form-control {
      font-size: 14px;
      background-color: @color-purple-2;
      border-radius: 2px;
      border: none;
    }

    & span.input-group-text:extend(.demo) {
      color: @color-white;
      border-radius: 2px;
      border: none;
    }
  }
}
