@import "../../../App.less";

.body {
  position: relative;

  & .quote:extend(.font-medium) {
    width: 468px;
    height: 112px;
    color: @color-gray;
    position: relative;
    top: -22px;
    left: 28px;
  }

  & .author,
  & .detail {
    &:extend(.font-large);
    position: absolute;
    left: 735px;
  }

  & .author {
    max-width: 297px;
    color: @color-black;
    top: -24px;
  }

  & .detail {
    max-width: 358px;
    color: @color-gray-2;
    top: 4px;
  }
}
