@import "../../App.less";

.statistics {
  height: 400px;

  & div {
    position: relative;
    float: left;
    width: 33.3%;

    & .image-text {
      text-align: center;
      color: @color-white;
      position: absolute;
      top: 137px;
      left: 126px;

      & .image-title:extend(.font-massive) {
        display: block;
        width: 195px;
      }

      & .image-unit {
        font-size: 36px;
      }

      & .image-body:extend(.font-small) {
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.4px;
        width: 195px;
        height: 42px;
        display: block;
        margin-top: 20px;
        text-align: center;
        color: @color-gray-4;
      }

      &.final {
        & .image-body {
          width: 175px;
        }
      }
    }
  }
}
