@import '../../App.less';

.bottom {
  background-color: @color-teal;
  height: 400px;
  position: relative;

  & .text:extend(.font-extra-large) {
    width: 370px;
    color: @color-white;
    position: absolute;
    top: 120px;
    left: @space-left;

    & span {
      color: @color-white-4;
    }
  }

  & .data-text:extend(.font-large) {
    width: 358px;
    color: @color-white-2;
    position: absolute;
    top: 130px;
    right: 267px;;
  }

  & .email {
    width: 468px;
    height: 42px;
    position: absolute;
    top: 240px;
    right: @space-left;

    & .form-control {
      background-color: @color-teal-3;
      border: solid 1px @color-teal-4;
      border-radius: 2px;
      font-size: 14px;
      color: @color-white-4;

      &::placeholder {
        color: @color-white-4;
      }
    }

    & span.input-group-text:extend(.demo) {
      background-color: @color-teal-3;
      border: solid 1px @color-teal-4;
      color: @color-white;
      border-radius: 2px;
      width: 142px;
    }
  }
}
