@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import "../../App.less";

.carousel-container {
  position: relative;
  height: 475px;
  background: @color-white-5;

  & .title:extend(.font-large) {
    font-weight: 500;
    width: 465px;
    color: @color-black;
    position: absolute;
    top: 80px;
    left: @space-left;
  }

  & .slick-slider {
    width: ~"calc(100% - 150px)";
    top: 177px;
    left: @space-left - 28px;

    & .slick-dots {
      bottom: -58px;
      left: -50px;

      & li button:before {
        font-size: 10px;
      }
    }
  }
}
