@import "~bootstrap/dist/css/bootstrap.min.css";

@color-black: #000;
@color-black-2: rgba(0, 0, 0, 0.25);
@color-black-3: #000019;
@color-black-4: #333;

@color-white: #FFF;
@color-white-2: rgba(255, 255, 255, 0.88);
@color-white-3: rgba(255, 255, 255, 0.6);
@color-white-4: rgba(255,255,255,0.5);
@color-white-5: #FAFAFC;

@color-gray: #404040;
@color-gray-2: #7F7F7F;
@color-gray-3: #BFBFBF;
@color-gray-4: #E5E5E5;

@color-teal: #00B896;
@color-teal-2: #009E81;
@color-teal-3: rgba(0, 93, 76, 0.39);
@color-teal-4: #005D4B;

@color-purple: #35374C;
@color-purple-2: #1D1F35;

@space-left: 160px;

.font-helvetica {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: @color-teal;
}

.font-extra-small {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
}

.font-small {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
}

.font-medium {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: -1px;
}

.font-large {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -1px;
}

.font-extra-large {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -3px;
}

.font-massive {
  font-family: RobotoSlab;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -6px;
}

.font-slab-large {
  font-family: RobotoSlab;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.22;
}

.font-slab-extra-large {
  font-family: RobotoSlab;
  font-size: 54px;
  font-weight: 300;
  line-height: 1;
}

body:extend(.font-small) {
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.demo {
  font-size: 12px;
  border-radius: 2px;
  background-color: @color-teal-2;
  border: solid 1px @color-teal-2;
}
