@import "../App.less";

.footer {
  background-color: @color-purple;
  position: relative;
  height: 440px;

  & .container {
    height: 351px;
    position: relative;
    top: 75px;

    & .row:extend(.font-small) {
      color: @color-white-3;
      padding-bottom: 20px;

      &.headings {
        color: @color-white;
      }

      & a {
        color: @color-white-3;
      }

      & .mobile-stores {
        margin-top: -20px;
      }
    }
  }

  & .last:extend(.font-extra-small) {
    height: 40px;
    color: @color-gray-3;
    background-color: @color-black-2;
    padding: 12px;
    position: relative;
    top: 48px;
  }
}
