@import '~react-input-range/lib/css/index.css';
@import '../../App.less';

.calculator {
  position: relative;
  height: 675px;

  & .input-group {
    display: table;
    top: 334px;
    left: @space-left;
    margin-bottom: 30px;
    width: calc(100% - @space-left);

    & label:extend(.font-medium) {
      width: 465px;
      font-weight: 500;
      color: @color-black-3;
    }

    & .form-control:extend(.font-large) {
      width: 465px;
      height: 66px;
      border-radius: 2px;
      background-color: @color-white;
      border: solid 1px @color-gray-3;
      color: @color-black;
    }

    & .input-range {
      width: 465px;
      height: 3px;
      background-color: @color-gray-3;
    }

    & .input-range__track--active {
      background: @color-teal;
    }

    & .input-range__slider {
      background: @color-teal;
      border: 1px solid @color-teal;
    }
  }

  & .title:extend(.font-large) {
    font-weight: 500;
    width: 299px;
    color: @color-black;
    position: absolute;
    top: 80px;
    left: @space-left;
  }

  & .description:extend(.font-medium) {
    letter-spacing: -1.2px;
    width: 465px;
    color: @color-gray;
    position: absolute;
    top: 170px;
    left: @space-left;
  }

  & .annual-savings,
  & .food-savings {
    & .title {
      width: 217px;
      color: @color-black;
      position: relative;
      top: -30px;
      left: 110px;
    }

    & .value:extend(.font-slab-extra-large) {
      color: @color-teal;
      position: absolute;
      left: 55px;

      & .unit:extend(.font-slab-large) {
        color: @color-teal;
      }
    }
  }

  & .annual-savings {
    position: absolute;
    top: 409px;
    left: 656px;
  }

  & .food-savings {
    position: absolute;
    top: 409px;
    right: 160px;

    & .value {
      left: 155px;
    }
  }
}
